<%= stylesheet_link_tag "welcome" %>

<body>
  <%= image_tag("unnamed.jpg", class: "avatar") %>
  <h1>Maksim Bokov</h1>
  <h4>Personal website</h4>
  <br>
  <p>link link link <%= link_to "CV", asset_path("sample.pdf"), :target => "_blank" %></p>
  <br>
  <br>
  <div>Ok so, im lookin' for a job and this is my little CV</div>
  <div>to show what can i do via Ruby on Rails</div>
  <div>(but i can switch and adapt to any stack of technologies</div>
  <div>quite fast, my soft skills r really good)</div>
  <br>
  <div>Here is my <a href="https://github.com/kidsalright" target="_blank">GITHUB</a></div>
  <div>There u can find C code from 42.fr(really cool international coding school)</div>
  <div> and some Ruby code for practicing OOP</div>
  <div>And also my Ruby on Rails apps, which are presented below</div>
  <br>
  <br>
  <a href="posts">Blog</a>
</body>
