<body>
  <h1>Welcome</h1>
  <div>Ok so, im lookin' for a job and this is my little CV</div>
  <div>to show my modest front-end and back-end skills via Ruby on Rails</div>
  <div>(but i can switch and adapt to any stack of technologies</div>
  <div>quite fast, my soft skills r really good)</div>
  <br>
  <div>Here is my <a href="https://github.com/kidsalright" target="_blank">GITHUB</a></div>
  <div>There u can find C code from 42.fr(really cool international coding school)</div>
  <div> and some Ruby code for practicing OOP</div>
  <div>And also my Ruby on Rails apps, which are presented below</div>
  <div>Notice, they r all in this one app, cause i have no money to host it separately</div>
  <br>
  <br>
  <br>
  <a href="" target="_blank">Geo checker</a>
  <a href="" target="_blank">Webcam chat</a>
  <a href="" target="_blank">To-do list</a>
  <a href="" target="_blank">Blog</a>
  <a href="" target="_blank">Etc</a>
</body>
