<%= stylesheet_link_tag "welcome" %>

<body>
  <h1>Welcome</h1>
  <div>Ok so, im lookin' for a job and this is my little CV</div>
  <div>to show what can i do via Ruby on Rails</div>
  <div>(but i can switch and adapt to any stack of technologies</div>
  <div>quite fast, my soft skills r really good)</div>
  <br>
  <div>Here is my <a href="https://github.com/kidsalright" target="_blank">GITHUB</a></div>
  <div>There u can find C code from 42.fr(really cool international coding school)</div>
  <div> and some Ruby code for practicing OOP</div>
  <div>And also my Ruby on Rails apps, which are presented below</div>
  <div>Notice, they r all in this one app, cause i have no money to host it separately</div>
  <br>
  <br>
  <br>
  <a href="">Geo checker</a>
  <a href="">Webcam chat</a>
  <a href="">To-do list</a>
  <a href="posts">Blog</a>
  <a href="">Etc</a>
</body>
