// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  text-align: center;
  margin-top: 10px;
  color: white;
  font-family: monospace;
  font-size: x-large;
  background-color: #31383d;
}

.avatar{
  border-radius: 50%;
  width: 15%;
  height: auto;
  box-sizing: border-box;
  background-color: #DDD;
  border: 5px solid #cfd8dc;
}
