// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  text-align: center;
  margin-top: 100px;
  color: white;
  font-family: monospace;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
 }
